h1{

    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;

}
h2{

    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;

}
h3{

    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    
}